span {
    border: 2px solid gray;
    border-radius: 5px;
    width: 70px;
    height: 100px;
    margin: 5px 10px;
    font-size: 40px;
    /*display: inherit;*/
    border: 2px solid #ffffff;
    background-color: #ffffff;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.word, .hand {
    display: flex;
    justify-content: center;
    border: 2px solid gray;
    border-radius: 5px;
    height: 115px;
    margin: auto;
    padding:10px;
    background-color: gray;
}

.button {
    width: 100%;
}

button {
    margin:auto;
    display:inherit;
    background-color: rgb(155, 214, 255);
    border-radius: 5px;
    font-size: 20px;
    margin-top: 30px;
}

span > * {
    pointer-events:none;
}

span > div {
    font-size: 20px;
    margin-left: 5px;
    width:100%;
}

span > p {
    margin: auto;
    margin-top:0;
    text-align:center;
}

.emptySpan {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button {
    display:inline;
    margin:0;
    padding: 0px 4px;
}

.button {
    display: flex;
    flex-direction:column;
    flex:1;
}

.card {
    display:flex;
}